body 
    {
    background-color: powderblue;
    }
input  
    {
    background-color: lightgray;
    }
#Male
    {
    accent-color: Blue;
    }
#Female
    {
        accent-color: DeepPink;
    }
textarea 
    {
    background-color: lightgray;
    }
select 
    {
    background-color: lightgray;
    }
