body 
    {
        background-color: powderblue;
    }
p
    {
        font-weight: bold;
        font-family: sans-serif;
    }
h1
    {
        color: crimson;
        font-family: sans-serif;
        font-style: italic;
        font-weight: bold;
    }
label
    {
        font-weight: bold;
        font-family: sans-serif;
    }
input  
    {
        font-family: sans-serif;
        background-color: lightgray;
        border-width: 2px;
        border-color: black;
    }
#Male
    {
        accent-color: Blue;
    }
#Female
    {
        accent-color: DeepPink;
    }
textarea 
    {
        font-family: sans-serif;
        background-color: lightgray;
        border-width: 2px;
        border-color: black;
    }
select 
    {
        font-family: sans-serif;
        background-color: lightgray;
        border-width: 2px;
        border-color: black;
    }
